
$dark: #960000;

$more-dark: #198754;
$light-green: #e7f3ec;
$body-color: #f7f7f7;
$border-radius: 5px;
$text-font: 'Georgia, serif';
$border-default-color: #888888;
$shadow: 0 4px 10px rgb(0 0 0 / 20%);
$separator-color: #eaeaea;
$selected: #ff0000;
$input-label: #999;

$warning-color: #ea3636;
$warning-info: #2ead93;
$warning-background: #eee0e0;
$warning-info-background: #f3f8f3;

.small-text {
  color: $border-default-color;
  font-size: 12px;
}